* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
img {
  width: 100%;
}
.container {
  width: 80%;
  margin: auto;
}
nav {
  padding: 20px 0px;
  margin: auto;
}
nav ul {
  text-align: center;
  margin-bottom: 0;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 15px 20px;
}
nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
nav ul li a:hover {
  color: rgb(230, 81, 106);
}

.intro {
  margin-left: 210px;
}

.intro h1 {
  font-size: 50px;
  margin-bottom: 20px;
}
.intro h1 span {
  color: rgb(230, 81, 106);
}
.intro p {
  line-height: 20px;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
}
.img {
  width: 400px;
  border: 1px solid rgb(230, 81, 106);
  background-color: rgb(250, 202, 210);
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}
.img img {
  width: 71%;
  object-fit: contain;
  object-position: center;
  margin: auto;
}

.banner {
  display: flex;
  align-items: center;
  height: 500px;
}
