* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #111;
}
img {
  width: 100%;
}
/* ---Home Styling--- */
.container {
  width: 80%;
  margin: auto;
}
nav {
  padding: 20px 0px;
  margin: auto;
}
nav ul {
  text-align: center;
  margin-bottom: 0;
  font-size: 18px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 15px 20px;
  padding: 5px 0px;
  position: relative;
}
nav ul li::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: white;
  bottom: 0;
  left: 0;
  transition: all 0.3s linear;
}
nav ul li:hover::after {
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #00fff5;
}
nav ul li a:hover {
  color: white;
  text-decoration: none;
}

.intro {
  margin-left: 210px;
}

.intro h1 {
  font-size: 55px;
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
}

.intro h1 span {
  color: #00fff5;
}
.intro p {
  line-height: 20px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: white;
}
.banner .img {
  width: 400px;
  border: 4px solid #00fff5;
  background-color: #efe9e9f0;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 25px 0 #00fff5;
}
.banner .img img {
  width: 71%;
  object-fit: contain;
  object-position: center;
  margin: auto;
}

.banner {
  display: flex;
  align-items: center;
  height: 500px;
}
.social {
  display: flex;
  justify-content: right;
  margin-right: 80px;
}
.social a {
  display: inline-block;
  border: 1px solid #00fff5;
  background-color: black;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  box-shadow: 0 0 9px 0 #00fff5;
  line-height: 50px;
  margin-left: 15px;
  margin-top: 20px;
  transition: all 0.3s;
}
.social a:hover {
  border: 1px solid white;
  box-shadow: 0 0 9px 0 white;
}
.social a:hover i {
  color: white;
}
.social a i {
  transition: 0.3s;
  color: #00fff5;
  font-size: 17px;
}
/* --About Styling-- */
.about_me {
  margin-top: 70px;
}
.about {
  padding: 40px;
}
.about .about_intro {
  width: 450px;
}
.title {
  font-size: 60px;
  margin-bottom: 45px;
  font-weight: bold;
  text-align: center;
  color: white;
  position: relative;
  padding-bottom: 5px;
  transition: all 0.3s;
}

.title::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  border-radius: 5px;
  background-color: #00fff5;
  bottom: 0;
  transition: all 0.3s linear;
  left: 50%;
  transform: translateX(-50%);
}
.title h1:hover {
  font-size: 45px;
}
.title span {
  color: #00fff5;
}

.about_intro h4 {
  margin-bottom: 20px;
  font-size: 25px;
  color: white;
  /* text-align: center; */
}
.about_intro h2 {
  color: #00fff5;
  font-weight: bold;
}
.about_intro p {
  font-size: 17px;
  text-align: justify;
  color: white;
}
/* Contact */
.contact {
  padding: 40px;
}
.con_box {
  display: flex;
  justify-content: space-between;
}
.con_box h4 {
  font-weight: bold;
  margin-bottom: 20px;
  color: #00fff5;
  position: relative;
  padding-bottom: 10px;
}
.con_box h4::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  border-radius: 5px;
  background-color: white;
  left: 0;
  bottom: 0;
  transition: all 0.3s linear;
}
.contact label {
  font-weight: bold;
  color: white;
}
#mail input {
  border: 0;
  background-color: #212121;
  box-shadow: 0 0 25px rgb(0 0 0);
  height: 58px;
  color: white;
}
#mail textarea {
  border: 0;
  background-color: #212121;
  box-shadow: 0 0 25px rgb(0 0 0);
  height: 58px;
  color: white;
}
.send {
  border: 0;
  border-radius: 15px;
  background-color: #212121;
  box-shadow: 0 0 25px rgb(0 0 0);
  padding: 30px;
  color: white;
}
.submit a {
  border: 1px solid #00fff5;
  background-color: #212121;
  box-shadow: 0 0 25px rgb(0 0 0);
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: #00fff5;
  display: block;
}
.submit {
  text-align: center;
  margin: 33px 0px 0px 0px;
  font-weight: bold;
}
.submit a:hover {
  text-decoration: none;
  color: black;
  border: 1px solid #00fff5;
  background-color: white;
}

.info_box {
  border: 0;
  border-radius: 15px;
  background-color: #212121;
  box-shadow: 0 0 25px rgb(0 0 0);
  padding: 30px;
  color: white;
}
.info_box .info {
  border-radius: 15px;
  padding: 15px;
  display: flex;
  background-color: rgb(33, 33, 33);
  margin-bottom: 20px;
  box-shadow: rgb(0 0 0) 0px 0px 25px;
}
.info_box .info i {
  line-height: 1.5;
  font-size: 25px;
  color: #00fff5;
}
.info_detail span {
  color: #00fff5;

  font-weight: bold;
}
.info_detail {
  margin-left: 34px;
}
.info h6 {
  font-weight: bold;
}
.info_box .info:last-child {
  margin-bottom: 0px;
}
